:root {
    --cor-cabecalho-inicial: #1ab3b0;
    --cor-cabecalho-final: #00000038;
    --cor-cabecalho-body: #0402029c;
    --cor-main: #ffffffc5;
    --cor-rodape: #33333394;           /* só uma variável de rodapé */
    --cor-letras-link: #030303;
    --cor-botao-cabecalho: #ffffffb4;    
    --cor-fundo-body: #770101c4;
}
